body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #1d1e23;
}

.contents {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #24262c;
	color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contents span {
    outline: none;
	color: white;
}

.editor-container {
    display: flex;
    border: 1px solid gray;
    height: 400px;
}

.line-numbers {
    padding: 10px;
    background: #25282c;
	color: white;
    text-align: right;
    user-select: none;
    width: 50px;
    overflow: hidden;
    line-height: 1.5em; /* Match the line height of the textarea */
    font-family: monospace; /* Match the font of the textarea */
	font-size: 16px; /* Ensure font size matches the line numbers */
}

.line-numbers .highlighted {
    background-color: #44475a;
}

.editor {
    flex: 1;
    padding: 10px;
	background: #1d1f21;
	color: white;
	caret-color: white;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    white-space: nowrap;
    font-family: monospace;
    line-height: 1.5em; /* Ensure the line height matches the line numbers */
	font-size: 16px; /* Ensure font size matches the line numbers */
}

.editor:focus {
    outline: none;
}

/* Button styles */
input[type="button"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid gray;
    background-color: #1d1e23;
	color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #e0e0e0;
	color: black;
}

.copytext {
    margin-left: 10px;
}

/* File chooser and download button */
#choose {
    margin: 10px 10px 10px 0;
}

#download {
	margin: 10px 10px 0 0;
}

#copy {
	margin: 10px 10px 0 0;
}
